[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic_extra_types = "*"
bson = "*"
pymongo = "*"
phonenumbers = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
isort = "*"
black = "*"
colorama = "*"

[requires]
python_version = "3.11"

[scripts]
dev-start = "uvicorn src.application.main:app --reload"
start = "uvicorn src.application.main:app"
fmt-import = "isort ." 
fmt-code = "black ."
