[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
mysql = "*"
mysql-connector-python = "*"

[dev-packages]
isort = "*"
black = "*"
colorama = "*"

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn src.main:app --reload"
fmt-import = "isort ." 
fmt-code = "black ."
